/** overrides **/

.navbar > .container > .nav > a {
  padding: 15px 10px 12px 10px;
}

.navbar > .container > .nav > a.active {
  border-bottom: 1px dotted #ababab;
}

html, body {
  font-family: "Helvetica Nue", Helvetica;
}

.pipeline {
  width: 100%;
  overflow-x: scroll;
  text-align: center;
}
.stages {
  width: 90%;
  margin: 0 auto;
}

.stage-icon {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  line-height: 30px;
}

.pipeline-connector {
  stroke: #949393;
}
.pipeline-node {
  fill: #808080;
}
.pipeline-node-selected > circle {
  stroke: #808080;
  fill: #808080;
  stroke-width: .5px;
  opacity: .5;
}
.pipeline-node-terminal {
  fill: #a7a7a7;
}

.icon-fail {
  fill: red;
  background: red;
}

.icon-success {
  fill: green;
  background: green;
}

.icon-unknown {
  fill: orange;
  background: orange;
}

.icon {
  fill: white;
}
